.link{
    text-decoration: none;
    color: #ccc;
    display: flex;
    align-items: center;
}

.link:hover{
    color: white;
    text-decoration: none;
}

.button{
    color: inherit !important;
    outline: none !important;
}